<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Info:</strong> You have made changes to your profile, any unsaved changes will be lost.
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date: 'longDate'}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button form="editForm" type="submit" class="btn btn-success btn-block">Save
          Changes</button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading='About {{member.knownAs}}'>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4>Description</h4>
          <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
          <h4 class="mt-2">Background</h4>
          <textarea class="form-control" [(ngModel)]="member.background" name="background" rows="6"></textarea>
          <h4 class="mt-2">Location Details:</h4>
          <div class="form-inline">
            <label for="city">City: </label>
            <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
            <label for="country">Country: </label>
            <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">
          </div>
          <h4 class="mt-2">Experience Level</h4>
          <select name="experienceLevel" [(ngModel)]="member.experienceLevel" class="form-control ml-1">
            <option *ngFor="let o of dropdownOptions" [value]="o.value">{{o.display}}</option>
          </select>
          <h4 class="mt-2">Preferred Instruments</h4>
          <div class="row">
            <div style="padding-left: 20px;" *ngFor="let preferredInstrument of preferredInstruments">
              <p class="btn btn-success">{{preferredInstrument.name}}</p>
              <p class="btn btn-danger" (click)="removeInstrument(preferredInstrument.name.toString())"><i class="fa fa-remove"></i></p>
            </div>
          </div>
          <textarea class="form-control mx-2" #newInstrument name="newInstrument"
              rows="1"></textarea>
              <br>
              <p class="btn btn-success mx-2"(click)="addInstrument(newInstrument.value)">Add Instrument</p>
        </form>
      </tab>
      <tab heading='Edit Photos'>
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
