<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="form-group">
      <label>Instrument: </label>
      <input type="text" class="form-control ml-1" style="width: 70px;" name="searchInstrument"
        [(ngModel)]="userParams.searchInstrument">
    </div>
    <div class="form-group">
      <label class="ml-1">Location: </label>
      <input type="text" class="form-control ml-1" style="width: 70px;" name="searchLocation"
        [(ngModel)]="userParams.searchLocation">
    </div>

    <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>

    <div class="btn-group float-right">
      <button type='button' class="btn btn-primary ml-1" name='sortBy' [(ngModel)]="userParams.sortBy"
        (click)='loadMembers()' btnRadio='lastActive'>Last Active</button>
        <button type='button' class="btn btn-primary" name='sortBy' [(ngModel)]="userParams.sortBy"
        (click)='loadMembers()' btnRadio='created'>Newest Members</button>
    </div>
  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsOnPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
